<h1>Users#new</h1>

<%= form_for @user do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
	<div class="input">
		<%=f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="input">
		<%=f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="input">
		<%=f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="input">
		<%=f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="input">
		<%= f.submit %>
	</div>
<%end%>
